{{# each initiativeOrder }}
    <p class='initiativeEntry'>{{ name }}: {{ total }} (<input type="number" readonly="readonly" class="value" value={{ value }}> +<input type="number" readonly="readonly" class="mod" value={{ mod }}>)</p>
{{/ each }}