<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Initiative Tracker</title>

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <style>
            .border {
                background-color: {{ blockCol }};
            }
        </style>
    </head>

    <body 
        style="
            background: url({{ backgroundImg }});
            {{# if stretchImg }} 
                background-size: 100%;
                background-attachment: fixed;
            {{/ if}}
        "
    >
        {{{ body }}}
    </body>
</html>