<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,600,0,0" />

<script src="initiative_xml.js"></script>
<script src="auth.js" defer></script>
<script src="initiative.js" defer></script>
<script src="initiative_player.js" defer></script>

<script src="initiativeTableTemplate.js"></script>

<link rel="stylesheet" href="basic.css"></link>
<link rel="stylesheet" href="anims.css"></link>

<header class="bkgd-col">
    <h1 id="main-title">Initiative Tracker</h1>

    {{# if charImages }}
    <div id="charLinks">
        {{# each charImages }}
            {{# if playing }}
                {{> charLink name=name file=image }}
            {{/ if }}
        {{/ each}}
    </div>
    {{/ if }}

    {{# if mapImages }}
    <div id="map-dropdown" class="dropdown">
        <span class="material-symbols-sharp border bkgd-col span-btn-big">map</span>
            
        <div class="dropdown-content border bkgd-col">
            {{# each mapImages }}
                {{> mapLink name=name file=image }}
            {{/ each }}
        </div>
    </div>
    {{/ if }}

    <span id="msgBtn" class="material-symbols-sharp border bkgd-col span-btn-big">sticky_note_2</span>
    
</header>


<div id="initTable">
    <div id="initTableHeader"class="border bkgd-col">
        <h1 class="title">Initiative Order</h1>

        <span id="addCharBtn" class="material-symbols-sharp bkgd-col span-btn border">person_add</span>
    </div>
    <div id="charInit"></div>
</div>

<div id="addChar" class="border bkgd-col popup">
    <h1 class="title">Add Character</h1>

    <span id="addCharBtn"class="material-symbols-sharp bkgd-col span-btn border">close</span>

    <div id="charInp">
        <label for="charName">Character Name:</label>
        <span><input type="text" {{# if charName }} readonly="readonly" {{/ if}} id="charName" name="charName" value="{{ charName }}"></p></span>

        <label for="initVal">Initiative Roll:</label>
        <span><input type="number" id="initVal"  name="initVal"></p></span>

        <label for="dexMod">DEX Modifier:</label>
        <span><input type="number" id="dexMod" name="dexMod" value="{{ charMod }}"></p></span>
    </div>

    <input type="Submit" id="submit" value="Submit">
</div>

<div id="messageLog" class="border bkgd-col popup">
    <h1 class="title">Messages</h1>

    <span id="msgBtn"class="material-symbols-sharp bkgd-col span-btn border">close</span>

    <ul id="messages">
    </ul>
</div>

{{# if graveImages }}
<div id="graveyard">
    {{# each graveImages }}
        {{> charLink name=name file=image }}
    {{/ each}}
</div>
{{/ if }}