<script src="initiative_xml.js"></script>
<script src="add_player.js" defer></script>
<script src="initiativeTableTemplate.js"></script>
<link rel="stylesheet" href="basic.css"></link>

<header>
    <h1>Initiative Tracker</h1>
    <!--<img src="\images\party_banner_2-5-22.jpeg" width="100%">-->
</header>

<div id="charLinks" class="border">
    <a href="/eilhana"><img src="\images\eilhana_pfp_temp.png" alt="Eilhana"></a>
    <a href="/hedamir"><img src="\images\hedamir_pfp_temp.png" alt="Hedamir"></a>
    <a href="/clash"><img src="\images\clash_pfp_temp.png" alt="Clash"></a>
    <a href="/nessi"><img src="\images\nessie_pfp_temp.png" alt="Nessie"></a>
    <a href="/rumor"><img src="\images\rumor_pfp_temp.png" alt="Rumor"></a>
    <a href="/fidget"><img src="\images\fidget_pfp_temp.png" alt="Fidget"></a>
</div>

<div id="initTable" class="border">
    <h1 id="title">Initiative Order</h1>
    <div id="charInit"></div>
</div>

<div id="addChar" class="border">
    <h1 id="title">Add Character</h1>

    <div id="charInp">
        <label for="charName">Character Name:</label>
        <span><input type="text" {{# if charName }} readonly="readonly" {{/ if}} id="charName" name="charName" value="{{ charName }}"></p></span>

        <label for="initVal">Initiative Roll:</label>
        <span><input type="number" id="initVal"  name="initVal"></p></span>

        <label for="dexMod">DEX Modifier:</label>
        <span><input type="number" id="dexMod" name="dexMod" value="{{ charMod }}"></p></span>
    </div>

    <input type="Submit" id="submit" value="Submit">
</div>
