<script src="initiative_xml.js"></script>
<script src="add_player.js" defer></script>
<script src="initiativeTableTemplate.js"></script>
<link rel="stylesheet" href="basic.css"></link>

<header>
    <h1 id="main-title">Initiative Tracker</h1>

    <div id="useful-btns">
        {{# each mapImages }}
            {{> mapLink name=name file=image }}
        {{/ each }}
    </div>
</header>

<hr>

{{# if charImages }}
<div id="charLinks" class="border">
    {{# each charImages }}
        {{> charLink name=name file=image }}
    {{/ each}}
</div>
{{/ if }}

<div id="initTable" class="border">
    <h1 class="title">Initiative Order</h1>
    <div id="charInit"></div>
</div>

<div id="addChar" class="border">
    <h1 class="title">Add Character</h1>

    <div id="charInp">
        <label for="charName">Character Name:</label>
        <span><input type="text" {{# if charName }} readonly="readonly" {{/ if}} id="charName" name="charName" value="{{ charName }}"></p></span>

        <label for="initVal">Initiative Roll:</label>
        <span><input type="number" id="initVal"  name="initVal"></p></span>

        <label for="dexMod">DEX Modifier:</label>
        <span><input type="number" id="dexMod" name="dexMod" value="{{ charMod }}"></p></span>
    </div>

    <input type="Submit" id="submit" value="Submit">
</div>

<div id="graveyard">
    {{# each graveImages }}
        {{> charLink name=name file=image }}
    {{/ each}}
</div>