<script src="initiative_xml.js"></script>
<script src="add_player.js" defer></script>
<script src="initiativeTableTemplate.js"></script>
<link rel="stylesheet" href="basic.css"></link>

<header>
    <h1 id="main-title">Initiative Tracker</h1>

    <div id="useful-btns">
        <a href="\images\maps\istral-empire_11-25.png" target="new"><input type="button" value="Istral Empire Map"></a>
        <a href="\images\maps\tyr-faerth_12-3.jpg" target="new"><input type="button" value="Tyr Faerth Map"></a>
    </div>
</header>

<hr>

<div id="charLinks" class="border">
    <a href="/eilhana"><img src="\images\characters\eli_pfp_2-10-2023.jpg" alt="Eilhana"></a>
    <a href="/hedamir"><img src="\images\characters\hedamir_pfp_2-10-2023.jpg" alt="Hedamir"></a>
    <a href="/clash"><img src="\images\characters\clash_pfp_2-10-2023.jpg" alt="Clash"></a>
    <a href="/nessi"><img src="\images\characters\nessi_pfp_2-10-2023.jpg" alt="Nessie"></a>
    <a href="/rumor"><img src="\images\characters\rumor_pfp_2-10-2023.jpg" alt="Rumor"></a>
    <!--<a href="/fidget"><img src="\images\characters\fidget_pfp_temp.png" alt="Fidget"></a>-->
    <a href="/kell"><img src="\images\characters\kell_pfp.png" alt="Kell"></a>
</div>

<div id="initTable" class="border">
    <h1 class="title">Initiative Order</h1>
    <div id="charInit"></div>
</div>

<div id="addChar" class="border">
    <h1 class="title">Add Character</h1>

    <div id="charInp">
        <label for="charName">Character Name:</label>
        <span><input type="text" {{# if charName }} readonly="readonly" {{/ if}} id="charName" name="charName" value="{{ charName }}"></p></span>

        <label for="initVal">Initiative Roll:</label>
        <span><input type="number" id="initVal"  name="initVal"></p></span>

        <label for="dexMod">DEX Modifier:</label>
        <span><input type="number" id="dexMod" name="dexMod" value="{{ charMod }}"></p></span>
    </div>

    <input type="Submit" id="submit" value="Submit">
</div>

<div id="graveyard">
    <a href="/fig" ><img src="\images\gravestones\fig_gravestone.jpg" alt="Here lies Fig :("></a>
</div>