<script src="initiative_xml.js"></script>
<script src="initiative_table.js" defer></script>
<script src="initiativeTableTemplate.js"></script>

<h1>Initiative Order</h1>

<div id="initTable"></div>

<input type="Submit" id="reset" value="Reset Table">
<input type="Submit" id="edit" value="Edit">

<h3>Add NPC</h3>

<label for="npcName">NPC Name:</label>
<input type="text" id="npcName" name="charName"></p>

<label for="totalNpc">NPC Count:</label>
<input type="number" id="totalNpc" name="initVal" value="1"></p>

<label for="dexMod">DEX Modifier:</label>
<input type="number" id="dexMod" name="dexMod"></p>

<label for="isPlayer">Player Visible:</label>
<input type="checkbox" id="isPlayer" name="isPlayer"></p>

<input type="Submit" id="submit" value="Submit">