<script src="/socket.io/socket.io.js"></script>

<script src="initiative_xml.js"></script>
<script src="initiative.js" defer></script>
<script src="initiative_mod.js" defer></script>

<script src="initiativeTableTemplate.js"></script>

<link rel="stylesheet" href="basic.css"></link>

<header>
    <h1 id="main-title">Initiative Order</h1>

    <div id="useful-btns">
        <a href="/settings"><input type="button" value="Settings"></a>
    </div>
</header>

<hr>

<div id="initTable" class="border">
    <div id="charInit"></div>

    <input type="submit" id="next" value="Next">
    <input type="submit" id="reset" value="Reset Table">
    <input type="submit" id="edit" value="Edit">
</div>

<div id="addChar" class="border">
    <h2 class="title">Add NPC</h2>

    <div id="charInp">
        <label for="charName">NPC Name:</label>
        <input type="text" id="charName" name="charName"></p>

        <label for="totalNpc">NPC Count:</label>
        <input type="number" id="totalNpc" name="totalNpc" value="1"></p>

        <label for="initVal">Initiative Roll (optional):</label>
        <input type="number" id="initVal"  name="initVal"></p>

        <label for="dexMod">DEX Modifier:</label>
        <input type="number" id="dexMod" name="dexMod"></p>

    </div>
        <label for="isPlayer">Player Visible:</label>
        <input type="checkbox" id="isPlayer" name="isPlayer"></p>

    <input type="Submit" id="submit" value="Submit">
</div>
