<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,600,0,0" />

<script src="initiative_xml.js"></script>
<script src="auth.js" defer></script>
<script src="settings.js" defer></script>

<link rel="stylesheet" href="basic.css"></link>

<header class="bkgd-col">
    <h1 id="main-title">Settings</h1>

    <div id="header-btns">
        <a href="/order"><span class="material-symbols-sharp border bkgd-col span-btn-big">menu</span></a>
    </div>
</header>


<div id="initTable" class="border bkgd-col">
    <label for="theme">Theme</label>
    <select id="theme" name="theme">
        {{# each backgrounds }}
            <option value="{{ name }}" {{# if selected }}selected{{/ if }}>{{ name }}</option>
        {{/ each}}
    </select>
    </br></br>
    <input type="Submit" id="debugPlayers" value="Insert Debug Initiative">
</div>