<script src="/socket.io/socket.io.js"></script>

<script src="initiative_xml.js"></script>
<script src="auth.js" defer></script>
<script src="settings.js" defer></script>

<link rel="stylesheet" href="basic.css"></link>

<header>
    <h1 id="main-title">Settings</h1>

    <div id="useful-btns">
        <a href="/order"><input type="button" value="Initiative Order"></a>
    </div>
</header>

<hr>

<div id="otherSettings" class="border">
    <label for="theme">Theme</label>
    <select id="theme" name="theme">
        {{# each backgrounds }}
            <option value="{{ name }}" {{# if selected }}selected{{/ if }}>{{ name }}</option>
        {{/ each}}
    </select>
    </br></br>
    <input type="Submit" id="debugPlayers" value="Insert Debug Initiative">
</div>

<div id="messageLog" class="border">
    <h1 class="title">Messages</h1>

    <input type="text" id="newMessage">
    <input type="Submit" id="sendMessage" value="Send">

    <h3>Message Log</h3>

    <input type="Submit" id="clearMessages" value="Clear Messages">
    <ul id="messages">
    </ul>
</div>