.highlight {
    background-color: lightgreen;
    padding: 5px;
}

#charLinks {
    float: left;
    width: 20%;
    margin-right: 40px
}

#addChar {
    float: left;
}

#initTable {
    float: right;
    width: 40%;
}

@media(max-width: 1200px) {
    body {
        font-size: 250%;
    }
    input {
        font-size: 100%;
    }

    #charLinks {
        width: 100%;
        margin-right: auto;
    }

    #addChar {
        width: 100%;
    }

    #initTable {
        width: 100%;
    }
}