.highlight {
    background-color: lightgreen;
}

.border {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

.span-btn,
.span-btn-big {
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    color: black;
    display: inline-block;
    vertical-align: middle;
}
.span-btn {
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.span-btn-big {
    width: 50px;
    height: 50px;
    font-size: 35px;
    line-height: 50px;
}

body {
    margin-top: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    translate: 0px -3px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px 20px 40px 20px;
}

#main-title {
    width: 140px;
}

#header-btns {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}
.dropdown-content a:hover {
    background-color: #e6e6e6;
}

.title {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

#charLinks {
    width: 70%;
}
#charLinks a {
    text-decoration: none;
    margin-right: 10px;
}
#charLinks img {
    width: 100px;
}

#initTable {
    width: 65%;
    margin-left: 17.5%;
}
#initTableHeader {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: space-between;
}
#initTableHeader .title {
    margin-left: 20px;
}
#initTableHeader #addCharBtn {
    margin-top: 5px;
    margin-right: 10px;
}

.initiativeEntry {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 25px;
    height: 40px;
    margin-top: 15px;
    padding: 0px;
    margin-right: 0px;
}
.initiativeEntry img {
    width: 50px;
    border-radius: 20px;
    border: 3px solid black;
    translate: -25px;
}
.initiativeEntry #value,
.initiativeEntry #mod {
    width: 20px;
    text-align: center;
}

.initiativeEntry p {
    font-size: 125%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.initiativeEntry .entry-name {
    translate: -15px;
}

.initiativeValue {
    margin-left: auto;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup #addCharBtn,
.popup #msgBtn {
    position: absolute;
    right: 10px;
    top: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 25%;
    left: 30%;
    width: 40%;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 0 10px black;
}


#charInp {
    margin-top: 20px;
}
#charInp label {
    max-width: 50%;
}
#charInp input {
    float: right;
    width: 50%;
}

#graveyard {
    margin-top: 4000px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1200px) {
    body {
        font-size: 250%;
    }
    input {
        font-size: 100%;
    }

    header {
        flex-direction: column;
    }
    #main-title {
        width: auto;
        margin: 0px;
    }
    #charLinks {
        width: auto;
    }
    #header-btns {
        margin-bottom: 10px;
    }

    .span-btn {
        font-size: 50px;
        width: 65px;
        height: 65px;
        line-height: 65px;
    }
    .span-btn-big {
        font-size: 50px;
        width: 65px;
        height: 65px;
        line-height: 65px;
    }

    #initTableHeader #addCharBtn {
        margin-top: 10px;
        margin-right: 15px;
    }
    .popup #addCharBtn,
    .popup #msgBtn {
        right: 15px;
        top: 15px;
    }

    .popup {
        top: 25%;
        left: 15%;
        width: 70%;
    }

    #initTable,
    #otherSettings {
        float: none;
        width: auto;
        margin: 20px;
    }

    .initiativeEntry {
        font-size: 70%;
        height: 60px;
        margin-top: 20px;
    }
    .initiativeEntry img {
        width: 75px;
    }
    .initiativeEntry #value,
    .initiativeEntry #mod {
        width: 35px;
        font-size: 65%;
    }
    .initiativeEntry #delete {
        font-size: 65%;;
    }
}

/* Hacky way to format order table nicely on my screen */
@media (max-width: 550px) {
    body {
        font-size: 125%;
    }
    input {
        font-size: 100%;
    }
    #delete {
        font-size: 60%;
    }

    .span-btn {
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .span-btn-big {
        font-size: 25px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    #initTableHeader #addCharBtn {
        margin-top: 5px;
        margin-right: 5px;
    }
    .popup #addCharBtn,
    .popup #msgBtn {
        right: 10px;
        top: 10px;
    }

    .initiativeEntry {
        height: 40px;
        margin-top: 15px;
    }
    .initiativeEntry img {
        width: 50px;
    }
    .initiativeEntry #value,
    .initiativeEntry #mod {
        width: 15px;
        font-size: 65%;
    }
}