.highlight {
    background-color: lightgreen;
}

.border {
    border: 3px solid black;
    border-radius: 10px;

    padding: 20px;
    /* Background col set in main.handlebars */
    min-height: 500px;
    margin: 20px;
}

#main-title {
    width: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    
    display: inline-block;
}

#useful-btns {
    width: auto;
    float: right;
    padding: 10px 20px;
    margin-top: 5px;
}

hr {
    height: 2px;
    background-color: black;
    border-width: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    text-align: center;
    margin-top: 0px;
}

#charLinks {
    float: left;
    width: 20%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#charLinks img {
    width: 140px;
}

#initTable {
    float: left;
    width: 35%;
}

#initTable input#value,
#initTable input#mod {
    width: 35px;
}

.initiativeEntry {
    display: flex;
    justify-content: left;
    align-items: center;
}

.initiativeEntry img {
    width: 50px;
    border-radius: 20px;
    margin: 0px 10px;
}

.initiativeEntry p {
    font-size: 125%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.initiativeValue {
    margin-left: auto;
    margin-right: 10px;
}

#addChar {
    float: left;
    width: 25%;
}

#charInp label {
    max-width: 50%;
}

#charInp input {
    float: right;
    width: 50%;
}

#graveyard {
    margin-top: 4000px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*
#initTable input#value:read-only,
#initTable input#mod:read-only {
    background-color: transparent;
    border-color: transparent;
}
*/

@media (max-width: 1200px) {
    body {
        font-size: 250%;
    }
    input {
        font-size: 100%;
    }

    .border {
        min-height: auto;
    }

    #useful-btns {
        font-size: 75%;
        float: none;
    }

    #charLinks {
        width: 90%;
    }

    #addChar {
        width: 90%;
    }

    #initTable {
        width: 90%;
    }

    .initiativeEntry img {
        width: 75px;
        margin-right: 15px;
    }

    #initTable input#value,
    #initTable input#mod {
        width: 60px;
    }
}

/* Hacky way to format order table nicely on my screen */
@media (max-width: 550px) {
    body {
        font-size: 100%;
    }
    input {
        font-size: 100%;
    }
}